.footer {
    width: 100vw;
    height: 4rem;
    background: var(--secondary-color);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
}